.secondSection {
    ul {
        height: 56px; //避免被盖掉
        display: flex;
        justify-content: space-around;

        li {
            position: relative;
            color: white;
            list-style: none;

            .line {
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);
                height: 4px;
                width: 100%;
                background: rgb(164, 28, 28);
                opacity: 0;
                transition: opacity .3s;

                &.visible {
                    opacity: 1;
                }
            }
        }
    }

    section {
        padding: 16px;

        h2 {
            color: white;
        }

        img {
            width: 100%;
            margin-top: 16px;
            border-radius: 6px;
        }
    }


}